:root {
  --blue-100: #15232d;
  --blue-200: #122738;
  --blue-300: #163042;
  --blue-400: #193549;
  --blue-500: #1f4662;
  --blue-600: #234e6d;
  --blue-700: #2d4ba3;
  --blue-800: #4169e1;
  --yellow-100: #ffc8005b;
  --yellow-200: #ffc600;
  --white: #fff;
  --gray-100: #9f9f9f;
  --gray-200: #f1f1f1;

  --color-table: var(--blue-800);
  --color-btn: var(--blue-500);
  --color-btn-hovered: var(--blue-600);
}
